header{
    background-color:darkblue;
    text-align: center;
    color: white;
}
nav a{
    color: white;   
}
#About{
    text-align: center;
}
#About img{
    height: 300px;
    width: 300px;
    border-radius:50% ;
}
#Skills{
    text-align: center;
}
#Skills table{
    border-collapse: collapse;
    width: 450px;
    border: 2px solid darkblue;
    margin: 0 auto;
    border-width: 2px;
    
}
th{
    background-color: darkblue;
    color: white;
}
td{
    border: 2px solid darkblue;
}
#Projects{
    text-align: center;
}
.Project-box{
    border: 1px solid black;
    border-radius: 5px;
    width: 60%;
    margin: 10px auto;
    background-color: white;
}
#Contact{
    text-align: center;
}
#box{
    display: inline-flex;
    border-collapse: collapse;
}
.butto{
    border: 2px solid darkblue;
    width:300px;
}
button{
    background-color: darkblue;
    color: white;
    width: 30%;
    margin: 7px;
    border-radius: 5px;
}

button:hover{background-color:blue;}

#backtotop{
        position: fixed;
        bottom: 20px;
        right: 2px;
        padding: 10px 20px;
        width: 10%;
    }
.footer{
    width: 100%;
    height: 7px;
    background-color: darkblue;
    margin-top: 10px;
}
